// These animations apply on the color of balance and available_balance text
@keyframes flashGreen {
  0%, 100% {
    color: black;
  }

  50% {
    color: #6aff00;
  }
}

@keyframes flashRed {

  0%, 100% {
    color: black;
  }

  50% {
    color: #FF0000;
  }
}

.flash-increase {
  animation: flashGreen 2s;
}

.flash-decrease {
  animation: flashRed 2s;
}
