<div *ngIf="selectedAccount$ | async as account">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Account detail</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ account.account_name }}</mat-card-title>
      <mat-card-subtitle>Treasury account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2 [ngClass]="{'flash-increase': account?.state === 1, 'flash-decrease': account?.state === 2}">
        {{ account.balance }} BTC (${{ account.balance_dollar | number:'1.2-2' }})
      </h2>
      <p>
        Available balance:
        <span [ngClass]="{'flash-increase': account?.state === 1, 'flash-decrease': account?.state === 2}">
          {{ account.available_balance }} BTC (${{ account.available_balance_dollar  | number:'1.2-2' }})
        </span>
      </p>
    </mat-card-content>
  </mat-card>

  <div *ngIf="account?.details">
    <mat-table [dataSource]="account.details">

      <!-- Confirmed date -->
      <ng-container matColumnDef="confirmed_date">
        <mat-header-cell *matHeaderCellDef> Confirmed date </mat-header-cell>
        <mat-cell *matCellDef="let detail"> {{ detail.confirmed_date }} </mat-cell>
      </ng-container>

      <!-- Order ID -->
      <ng-container matColumnDef="order_id">
        <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
        <mat-cell *matCellDef="let detail"> {{ detail.order_id }} </mat-cell>
      </ng-container>

      <!-- Order Code Column -->
      <ng-container matColumnDef="order_code">
        <mat-header-cell *matHeaderCellDef> Order code </mat-header-cell>
        <mat-cell *matCellDef="let detail"> {{ detail.order_code }} </mat-cell>
      </ng-container>

      <!-- Transaction Type Column -->
      <ng-container matColumnDef="transaction_type">
        <mat-header-cell *matHeaderCellDef> Transaction type </mat-header-cell>
        <mat-cell *matCellDef="let detail"> {{ getTransactionType(detail.transaction_type) }} </mat-cell>
      </ng-container>

      <!-- Amount is on Debit column if transaction is sent -->
      <ng-container matColumnDef="debit">
        <mat-header-cell *matHeaderCellDef> Debit </mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <p *ngIf="detail?.transaction_type === 2">
            {{ detail.amount }} BTC <br>
            ${{ detail.amount }}
          </p>
        </mat-cell>
      </ng-container>

      <!-- Amount is on Credit column if transaction is received -->
      <ng-container matColumnDef="credit">
        <mat-header-cell *matHeaderCellDef> Credit </mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <p *ngIf="detail?.transaction_type === 1">
            {{ detail.amount }} BTC <br>
            ${{ detail.amount }}
          </p>
        </mat-cell>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
        <mat-cell *matCellDef="let detail"> {{ detail.balance }} BTC </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (animationend)="onAnimationEnd()"></mat-row>

    </mat-table>
  </div>
</div>
