// These animations apply on the account rows background
@keyframes flashGreen {
    0%   { color: transparent; }
    50%  { color: #aaffaa; }
    100% { color: transparent; }
  }
  
  @keyframes flashRed {
    0%   { color: transparent; }
    50%  { color: #ffaaaa; }
    100% { color: transparent; }
  }

  .flash-increase {
    animation: flashGreen 2s;
  }
  
  .flash-decrease {
    animation: flashRed 2s;
  }