// These animations apply on the account rows background
@keyframes flashGreen {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #6aff00;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes flashRed {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #FF0000;
  }

  100% {
    background-color: transparent;
  }
}

.flash-increase {
  animation: flashGreen 2s;
}

.flash-decrease {
  animation: flashRed 2s;
}

.toolbar-left {
  order: 1;
}

.toolbar-center {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  order: 2;
}

.mat-row {
  cursor: pointer;
}
